*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #9ab3be;
}


body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #181b26; 
  /* #01021f */
  font-family: 'Montserrat', sans-serif;

}

a{
  text-decoration: none;
  color: rgb(240, 240, 240);
}

h1{
  text-align: center;
  margin: 3rem;
}