*{
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #181b26; 
  /* #01021f */
  /* #181b26 */
  font-family: 'Montserrat', sans-serif;

  scroll-behavior: smooth;
  color: #9ab3be;
}

a{
  text-decoration: none;
  color: rgb(240, 240, 240);
}
